<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
	  xmlns:mvc="http://www.springframework.org/schema/mvc"
	  xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	                       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
	                       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

<!-- 扫包 -->
<context:component-scan base-package="com.yg">
<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/></context:component-scan>

<!-- 引入外部文件 -->
<context:property-placeholder location="classpath:db.properties"></context:property-placeholder>

<!-- 数据库连接池 -->
<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
<!-- 手动装配   普通属性 -->
<!-- 基本配置 -->
<!-- 驱动 -->
<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
<!-- 数据库连接地址 -->
<property name="url" value="${url}"></property>
<!-- 用户名 -->
<property name="username" value="root"></property>
<!-- 密码 -->
<property name="password" value="123456"></property>
</bean>

<!-- 创建jdbcTemplate -->
<!-- <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
<property name="dataSource" ref="dataSource"></property>
</bean>
 -->
 
 <!-- 集合mybatis 1.spring管理所有组件 2.spring管理事务 -->
 <!-- 创建sqlSessionFactoryBean -->
 <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
 <!-- 引入数据源 -->
 <property name="dataSource" ref="dataSource"/>
 <!-- 加载mybatis全局配置文件 -->
  <property name="configLocation" value="classpath:mybatis-config.xml"/>
  <!-- 指定mapper映射文件的位置 -->
   <property name="mapperLocations" value="classpath:mapper/*.xml"/>
 </bean>
 
 <!--扫描所有的mapper接口，将接口实现自动注入IOC容器  -->
 <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
 <property name="basePackage" value="com.yg.dao"></property>
 </bean>
 
 
  <!-- 配置spring事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

 	<!-- 开启事务注解@Transactional支持 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>