<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!-- <properties resource="db.properties"></properties> -->

    <!--开启驼峰命名规则自动转换-->
   <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" /> 
        <setting name="lazyLoadingEnabled" value="true" /><!-- 开启延迟加载 -->
        <setting name="aggressiveLazyLoading" value="false" /><!-- 	当设置为‘true’的时候，懒加载的对象可能被任何懒属性全部加载。否则，每个属性都按需加载. -->
    </settings>
    
<!--     别名
      <typeAliases>
        <typeAlias type="com.yg.batis.pojo.Employee" alias="emp"/>
        <package name="com.yg.batis.pojo"/> 
     </typeAliases>

 <environments default="development">
 <environment id="development">
 <transactionManager type="JDBC"/>
 <dataSource type="POOLED">
 <property name="driver" value="${driver}"/>
 <property name="url" value="${url}"/>
 <property name="username" value="${username}"/>
 <property name="password" value="${password}"/>
 </dataSource>
 </environment>
 </environments>
 <mappers>
 <mapper resource="EmployeeMapper.xml"/> 
  <mapper resource="DepartmentMapper.xml"/> 
 使用注解方式 
 <mapper class="com.yg.batis.dao.EmployeeMapperAnnotation"></mapper>
 包下的所有
 <package name="com.yg.batis.dao"/>
 </mappers> -->
</configuration>